@charset "UTF-8";

body {
	margin: 1 auto;
	text-align: left;
	width: 100%;
	font-family: monospace;
	font-size: 24px;
	margin: 0;
	background: azure url(images/back.png);
	background-size: 980px 500px;
}

.top-bar {
	height: 240px;
	background: url(images/topb.png) repeat-x;
}

.block {
	width: 920px;
	height: 80px;
	margin: 0 auto;
	text-align: left;
	display: block;
}

.main {
	width: 920px;
	padding-top: 10px;
	display: inherit;
	margin: 0 auto;
	text-align: left;
	align-content: left;
	padding-top: 10px;
}

.logo {
	float: left;
	margin-top: -220px;
	height: 350;
}

.menu {
	float: right;
	margin-top: -200px;
	display: inline;
	width: 560px;
	align-content: center;
}

.menu ul {
	padding-top: 32px;
	padding-left: 0px;
	display: flex;
}

.menu li {
	display: block;
	float: left;
	margin-left: 10px;
	text-align: center;
}

.menu a {
	color: white;
	font-size: 0.9em;
	display: block;
	padding: 5px 15px 5px 5px;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	width: 100px;
}

.menu a:hover {
	background: rgba(0, 128, 150, 0.7);
}

.login_button, .register_button {
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-family: monospace;
	font-weight: bold;
	width: 398px;
	font-size: 20px;
}

.search form {	
	display: inline-block;	
	padding-top: 8px;

}

.search_input {
	display: flex;
}

.search button {
	background-color: black;
	color: rgb(254, 156, 24);
	font-size: 1em;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: .1em;
	cursor: pointer;
	opacity: 0.7;
	height: 70px;
	margin-top: 8px;
	text-align: left;
	padding-left: 20px;
}

.search button:hover {
	opacity: 1;
}

.search_icon {	
	color: black;
	font-size: 1.6em;
	font-weight: 300;
	padding: 5px;
	background: rgba(0, 128, 150, 0.7);
}

.login {
	margin-top: -29px;
	height: 157px;
}

.register {
	padding: 10px;
	justify-content: center;
	display: flex;
}

.register form {
	padding: 10px;	
}

.login_button:hover, .register_button:hover {
	background: darkcyan;
}

.login input, .register input, .search input {
	background-color: azure;
	font-size: 1.5em;
	width: 390px;
	height: 57px;
	display: flex;
}

h2 {
	color: grey;
	background-color: black;
	font-size: 1.2em;
	opacity: 0.8;
	padding: 8px;
	margin: 0 auto;
}

h1 {
	background-color: black;
	opacity: 0.8;
	font-size: 1.5em;
	font-weight: normal;
	color: rgb(254, 156, 24);
	padding: 10px;
	margin: 0 auto;
}

.problems_list {
	overflow-y: scroll;
	font-size: 1.5em;
	font-weight: 600;
	background-color: azure;
	font-family: monospace;
	margin: 0 auto;
	margin-left: 0;
	width: 48%;
	height: 373px;
	list-style-type: none;
	padding-left: 5px;
}

.problems_list li:nth-of-type(odd) {
	background-color: rgba(0, 128, 150, 0.1);
}

.choose {
	padding-left: 0;
	margin-left: 0;
	margin-top: 10px;
	
	text-align: left;

	height: 383px;

	width: 910;
	display: flex;
}

.choose img {
	object-fit: contain;
	align-content: right;
	float: right;
	width: 450px;
	height: 450px;
	background-color: rgba(0, 128, 150, 0.4);
	margin-top: -77px;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 128, 150, 0.7);
	border-radius: 10px;
}

.plist {
	cursor: pointer;
	padding: 8px;
	line-height: 85%;
}


.plist:hover {
	background-color: grey;
}

.display {
	float: left;
	width: 50%;
}

.add {
	font-size: 1em;
}

.add_button {
	background-color: black;
	color: #858585;
	font-size: 1.0em;
	text-transform: uppercase;
	padding: 12px 30px;
	margin-top: 8px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: .1em;
	cursor: pointer;
}

.add_button:hover {
	opacity: 0.7;
}

option {
	font-size: 1.5em;
	font-weight: 600;
	background-color: azure;
	font-family: monospace;
}

.table {
	min-height: 110px;
	max-height: 1300px;
	min-width: 545px;
	padding: 5px;
	display: flex;
	font-family: monospace;
	color: black;
	text-align: justify;
	background: rgba(0, 128, 150, 0.7);
	justify-content: right;
	display: block;
	overflow-y: scroll;
}

.table h3 {
	text-align: center;
	font-size: 1.3em;
	padding-top: 10px;
	margin: 0 auto;
}

.table p {
	padding: 10px;
	text-indent: 1.5em;
	margin: 0 auto;
	font-size: 1em;
}

.details {
	width: 900px;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	background: azure;
}

.details_p {
	font-size: 1em;
}

.details h1 {
	font-size: 1.5em;
}

.add, a {
	color: #222;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.add:hover {
	text-decoration: underline;
}

.detal li, select, .details p {
	color: #555;
	text-align: left;
	font-size: 1.1em;
	margin: 8px auto;
	padding-bottom: 5px;
}

.detal:first-of-type {
	width: 340px;
	float: left;
}

.detal:last-of-type {
	margin-left: 20px;
	width: 540px;
	float: left;
}

.detal form {
	font-size: 1em;
}

.footer {
	width: 910px;
	float: left;
	border-top: 1px solid #CCC;
	margin-top: 20px;
}

#opis_r, #opis_p, #uwagi, button {
	width: 99%;
}

textarea {
	font-size: 1em;
}