@charset "UTF-8";

html {
	font-family: monospace;
	font-size: 24px;
	width:930px;
	margin: 0 auto;	
}

body {
	text-align: left;
	margin: 0 auto;	
	background: azure url(images/back.png);
	background-size: 980px 500px;
	display: block;
	width: 100%;	
	max-height: 100vh;
}

h1 {
	background-color: black;
	opacity: 0.8;
	font-size: 1.5em;
	font-weight: normal;
	color: rgb(254, 156, 24);
	padding: 10px;
	margin: 0 auto;
	max-height: 100rem;
}

h2 {
	color: grey;
	background-color: black;
	font-size: 1.2em;
	opacity: 0.8;
	padding: 6px;
	margin: 0 auto;
}

.top-bar {
	height: 260px;
	background: url(images/topb.png) repeat-x;
}

.block {
	width: 920px;
	height: 65px;
	margin: 0 auto;
	text-align: left;
	display: block;
}

.menu {
	float: right;
	margin-top: -210px;	
	width: 560px;
}

.menu ul {
	padding-top: 32px;
	padding-left: 0px;
	display: flex;
}

.menu li {
	list-style-type: none;	
	margin-left: 10px;
	text-align: center;
}

.menu a {
	color: white;
	font-size: 0.9em;
	display: block;
	padding: 5px 15px 5px 5px;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	width: 100px;
}

.menu a:hover {
	background: rgba(0, 128, 150, 0.7);
}

.logo {
	float: left;
	margin-top: -235px;
}

.main {
	width: 920px;
	padding-top: 10px;	
	margin: 0 auto;
	padding-top: 10px;
	font-size: 24px;
}

.search form {	
	display: inline-block;	
	padding-top: 8px;
}

.search_icon {	
	color: black;
	font-size: 1.6em;
	font-weight: 300;
	padding: 5px;
	background: rgba(0, 128, 150, 0.7);
}

.search_input {
	display: flex;
}

.search button {
	background-color: black;
	color: rgb(254, 156, 24);
	font-size: 1em;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: .1em;
	cursor: pointer;
	opacity: 0.7;
	height: 70px;
	margin-top: 8px;
	text-align: left;
	padding-left: 20px;
	width: 100%;
}

.search_block {
	display:flex;
	font-size: 1rem;
}

.search_info {	
	margin-left:25px;
	margin-top:10px;
	font-size: 0.70rem;
	width: 100%;
}

.search button:hover {
	opacity: 1;
}

.choose {	
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: fit-content;
}

.problems_list {
	overflow-y: scroll;
	font-size: 1.2rem;
	font-weight: 800;
	background-color: azure;
	font-family: monospace;
	margin: 0 auto;
	margin-left: 0;
	margin-right: 10px;
	width: 48%;
	min-width: 440px;
	height: 373px;
	list-style-type: none;
	padding-left: 5px;
}

.problems_list li:nth-of-type(odd) {
	background-color: rgba(0, 128, 150, 0.1);
}

.plist {
	cursor: pointer;
	padding: 8px;
	line-height: 88%;
}

.problems_list li:hover {
	background-color: grey;
}

.choose img {
	object-fit: contain;
	align-self: right;
	
	float: right;
	width: 450px;
	height: 450px;
	background-color: rgba(0, 128, 150, 0.4);
	margin-top: -77px;
	transform: translate(0%) scale(1,1);     
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

.choose img:hover {  
    transform: translate(-35%) scale(1.7,1.7);     
    transition-timing-function: ease-out;
    transition-duration: 250ms;          
    position: relative;
    z-index: 99;
    background-color: transparent;
    filter: drop-shadow(-50px 50px 25px black);
}

::-webkit-scrollbar {
	width: 15px;	
}

body::-webkit-scrollbar {
	display: none;	
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 128, 150, 0.7);
	border-radius: 10px;
	
}

.data {
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	background: azure;
	width: 98%;
}

.details {
	color: #555;
	text-align: left;
	font-size: 1.3rem;
	max-height: 350px;
	padding: 25px;
	margin: 0 auto;	
}

.details {
background: rgba(0, 128, 150, 0.1);
}

.records_block {
	display: block;
	overflow-y: scroll;
	max-height: 600px;
	font-size: 24px;
	
}


/* .records:first-of-type {
	width: 40%;
	float: left;
}

.records:last-of-type {
	margin-left: 25px;
	width: 60%;
	float: left;
} */

.records form {
	font-size: 1rem;
}

.records ol {
	margin-left: 10px;
}

.records li {
    font-size: initial;
}

.records li, .records p {
	color: #555;
	text-align: left;
	margin: 8px auto;
	padding-bottom: 5px;
	margin-left: 25px;
	font-size: 1.2em;
	display: table;
}

.records h2, .records h3 {
	font-size: 1.1em;
}

.add {
	margin-bottom: 25px;
}

.add_mess {
	display: flex;
	justify-content: center;	
}

.add_mess form {
	font-size: 1rem;
	width: 90%;
}

.add_mess textarea {
	width: 100%;
	min-height: 40px;
}

label {
	font-size: 1.1rem;
}

.add_button {
	background-color: black;
	color: #858585;
	font-size: 1.0em;
	text-transform: uppercase;
	padding: 12px;
	margin-top: 8px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: .1em;
	cursor: pointer;
	width: 100%;
}

.add_button:hover {
	opacity: 0.7;	
}

.add p, a {
	color: #222;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.add textarea {
	width: 100%;
	height: 60px;
}

select {
	color: #555;
	font-size: 1.1em;
	margin: 8px auto;
	height: 60px;
	width: 60px;
}

textarea {
	font-size: 1.2rem;
}

.board {
	min-height: 110px;
	max-height: 1300px;
	min-width: 910px;
	width: fit-content;
	padding: 5px;	
	font-family: monospace;

	color: black;
	background: rgba(0, 128, 150, 0.7);
	display: block;
	overflow-y: scroll;
}

.board h3 {
	text-align: center;
	font-size: 1.7em;
	padding-top: 10px;
	margin: 0 auto;
}

.board p {
	padding: 10px;
	text-indent: 1rem;
	margin: 0 auto;
	font-size: 0.9rem;
}

.board h1 {
	font-size: 1.2em;
}

.board .important {
	color: white;
}

.login {
	margin-top: -29px;
	height: 157px;
}

.register {
	padding: 10px;
	justify-content: center;
	display: flex;
}

.register form {
	padding: 10px;	
}

.login_button, .register_button {
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-family: monospace;
	font-weight: bold;
	width: 398px;
	font-size: 20px;
}

.login_button:hover, .register_button:hover {
	background: darkcyan;
}

.login input, .register input, .search input {
	background-color: azure;
	font-size: 1.5em;
	width: 390px;
	height: 57px;
	display: flex;
}

.manage_link {
	color: black;
	background: rgba(0, 128, 150, 0.7);
}

.footer {
	border-top: 1px solid #CCC;
	margin-top: 20px;
}
