<meta charset="UTF-8"></meta>
<div class="main">
<div class="info">
	<h1>Informacje</h1>
	<p>Narzędzie to baza nieprawidłowości występujących podczas produkcji opakowań. Pomocne w usuwaniu wad butelki/preformy
	Narzędzie to baza nieprawidłowości występujących podczas produkcji opakowań. Pomocne w usuwaniu wad butelki/preformy.</p>
	<p>Narzędzie to baza nieprawidłowości występujących podczas produkcji opakowań. Pomocne w usuwaniu wad butelki/preformy
	Narzędzie to baza nieprawidłowości występujących podczas produkcji opakowań. Pomocne w usuwaniu wad butelki/preformy.</p>
</div>
</div>
