<meta charset="UTF-8"></meta>
<div class="main">

	<h1>Informacje</h1>
	<div class="board">
		<p>Narzędzie to baza nieprawidłowości występujących podczas
			produkcji opakowań (butelek PET) wytwarzanych w procesie
			wtrysko-rozdmuchu. Może być pomocne w usuwaniu wad butelki/preformy
			na etapie produkcji.</p>
		<p>Aplikacja daje wgląd w typowe wady produktu, w powiązane z nimi
			przyczyny oraz proponowane działania, które należy podjąć, aby pozbyć
			się nieprawidłowości na produkowanym opakowaniu.</p>
		<p>Na stronie można się zarejestrować, aby następnie się
			zalogować. Zalogowany użytkownik ma możliwość dodawania własnych
			przyczyn oraz proponowanych rowiązań do wybranych problemów.
			Dodane przez siebie wpisy można usuwać.</p>
		<p>Źródła: instrukcje producenta maszyn ASB oraz własne doświadczenie.</p>
		<p>Opracował/Kontakt: gerstel.tomasz@gmail.com</p>
	</div>
</div>
