<meta charset="UTF-8"></meta>
<div class="main">
	<div class="table">
		<h1>Logowanie</h1>
		<div class="register" ng-show="!authenticated">
			<form>
				<input type="text" ng-model="problemContr.credentials.username"
					required="required" placeholder="login"><br> <input
					type="password" ng-model="problemContr.credentials.password"
					required="required" placeholder="hasło"><br>
				<button class="login_button" ng-click="problemContr.login()">ZALOGUJ
					SIĘ</button>
			</form>
		</div>
	</div>
</div>

