<meta charset="UTF-8"></meta>
<div class="main">
	<h1>Dodaj nowy problem:</h1>	
	
	<form ng-show="authenticated" enctype="multipart/form-data">
	<label for="opis_r">Określ nowy problem:</label><br>
		<textarea id="opis_r" ng-model="problemCtrl.newProblem.name" rows="2" cols="30" maxlength="150"
			required></textarea>
		<br> <label for="uwagi">Podaj szczegóły (opis):</label><br>
		<textarea id="uwagi" ng-model="problemCtrl.newProblem.description" rows="3" cols="30" maxlength="300"></textarea>
		<br>
	
		Dodaj zdjęcie (w formacie jpg lub png, w wielkości ok 200KB (max500KB)):
		<input type="file" class="add_button" name="file" file-model="problemCtrl.file"/>
		<br>
		<button class="add_button" type="submit" ng-click="problemCtrl.addProblem()">Dodaj</button>
	</form>
</div>

