<meta charset="UTF-8"></meta>
<div class="main">
	<h1>Dodaj nowy problem:</h1>
	<form ng-show="authenticated">
		<label for="opis_r">Podaj opis rozwiązania:</label><br>
		<textarea id="opis_r" ng-model="" rows="3" cols="30" maxlength="250"
			required></textarea>
		<br> <label for="uwagi">Uwagi:</label><br>
		<textarea id="uwagi" ng-model="" rows="2" cols="30" maxlength="200"></textarea>
		<br> <label for="proprytet">Określ wagę/priorytet
			rozwiązania:</label><br> <select type="number" id="priorytet"
			class="selectp" ng-model="" placeholder="Priorytet">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select><br>
		<button class="add_button" ng-click="">Dodaj rozwiązanie</button>
	</form>
</div>
