<meta charset="UTF-8"></meta>
<div class="main">
	<h1>Wybierz problem z listy lub wyszukaj:</h1>
	<div class="search_block">
		<div class="search">
			<form>
				<span class="search_input"> <span class="search_icon"><i
						class="fas fa-search"></i></span> <input id=""
					ng-model="problemCtrl.problemName" rows="1" cols="30"
					maxlength="25"
					ng-keyup="problemCtrl.refreshData(problemCtrl.problemName)"></input>
				</span>
				<button class="" ng-click="problemCtrl.refreshData()">
					<i class="fas fa-sync-alt"></i> Pokaż wszystko
					({{problemCtrl.problemsCount.problemsQuantity}} probl.)
				</button>
			</form>
		</div>
		<div class="search_info">
			<h2>
				Liczba problemów w bazie:
				{{problemCtrl.problemsCount.problemsQuantity}}<br> Liczba
				wpisów: {{problemCtrl.problemsCount.recordsQuantity}}
			</h2>
		</div>
	</div>
	<div class="choose">
		<ul class="problems_list">
			<li class="plist" ng-repeat="problem in problemCtrl.problems"
				ng-click="problemCtrl.loadData(problem.id)"
				title="pokaż rozwiązania">{{problem.name}}</li>
		</ul>
		<img ng-src="{{problemCtrl.image}}" alt=""
			onerror="this.src='images/temporary.png'">
	</div>
	<div class="data" ng-show="problemCtrl.details">
		<h1>{{problemCtrl.details.name}}</h1>
		<p class="details">Opis: {{problemCtrl.details.description}}</p>

		<div class="records_block">		
			
				<h2>Przyczyny</h2>
				<ul>
					<li ng-repeat="cause in problemCtrl.causes"><b>{{cause.description}};
					</b><i ng-show="cause.userName"><br>dodał: {{cause.userName}}</i>
						<span
						ng-show="problemCtrl.userName==cause.userName && authenticated"><br>
							<i class="fas fa-trash-alt" title="usuń"
							ng-click="problemCtrl.deleteCause(cause.id, cause.problemId)">
						</i> </span></li>
				</ul>
				<div class="add">
					<p ng-click="problemCtrl.showAddCauseForm()"
						ng-show="authenticated">Dodaj przyczynę do wybranego problemu
						({{problemCtrl.details.name}})</p>
					<div ng-show="problemCtrl.showCauseForm">
						<form ng-show="authenticated">
							<label for="opis_p">Podaj opis przyczyny:</label><br>
							<textarea id="opis_p" ng-model="problemCtrl.cause.description"
								rows="3" cols="20" maxlength="250" required></textarea>
							<br>
							<button class="add_button"
								ng-click="problemCtrl.addCause(problemCtrl.cause)">Dodaj
								przyczynę</button>
						</form>
						<hr>
					</div>
				</div>
				<div ng-show="!authenticated">
					<h3>
						<i>Zaloguj się aby dodać nowy wpis</i>
					</h3>
				</div>			
	
				<h2>Rozwiązania</h2>
				<ul>
					<li ng-repeat="solution in problemCtrl.solutions"><b>{{solution.description}};
					</b> <span ng-show="solution.remarks"><br>{{solution.remarks}};
					</span> <i ng-show="solution.userName"><br>dodał:
							{{solution.userName}}</i> <span
						ng-show="problemCtrl.userName==solution.userName && authenticated"><br>
							<i class="fas fa-trash-alt" title="usuń"
							ng-click="problemCtrl.deleteSolution(solution.id, solution.problemId)">
						</i></span></li>
				</ul>
				<div class="add">
					<p ng-click="problemCtrl.showAddSolutionForm()"
						ng-show="authenticated">Dodaj rozwiązanie do wybranego
						problemu ({{problemCtrl.details.name}})</p>
					<div ng-show="problemCtrl.showSolutionForm">
						<form ng-show="authenticated">
							<label for="opis_r">Podaj opis rozwiązania:</label><br>
							<textarea id="opis_r" ng-model="problemCtrl.solution.description"
								rows="3" cols="30" maxlength="250" required></textarea>
							<br> <label for="uwagi">Uwagi:</label><br>
							<textarea id="uwagi" ng-model="problemCtrl.solution.remarks"
								rows="2" cols="30" maxlength="200"></textarea>
							<br> <label for="proprytet">Określ wagę/priorytet
								rozwiązania:</label><br> <select type="number" id="priorytet"
								class="selectp" ng-model="problemCtrl.solution.priority"
								placeholder="Priorytet">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select><br>
							<button class="add_button"
								ng-click="problemCtrl.addSolution(problemCtrl.solution)">Dodaj
								rozwiązanie</button>
						</form>
					</div>
				</div>
				<div ng-show="!authenticated">
					<h3>
						<i>Zaloguj się aby dodać nowy wpis</i>
					</h3>
				</div>
		</div>

	</div>
	<div ng-show="authenticated && problemCtrl.hasAdminAuthority()"
		class="manage_link">
		<h3>
			<a href="#!addproblem"><i class="fas fa-tasks"></i>Zarządzaj/dodaj
				nowy problem/zobacz wiadomości</a>
		</h3>
	</div>

</div>
