<meta charset="UTF-8"></meta>
<div class="main">
	<h1>Wybierz problem z listy:</h1>
	<div class="choose">
		<ul class="problems_list">
			<li class="plist" ng-repeat="problem in problemContr.problems"
				ng-click="problemContr.loadData(problem.id)"
				title="pokaż rozwiązania">{{problem.name}}</li>
		</ul>
	</div>
	<div class="details" ng-show="problemContr.details">
		<h1>{{problemContr.details.name}}</h1>
		<h3>Szczegóły: {{problemContr.details.description}}</h3>
		<div class="detal">
			<h2>Przyczyny</h2>
			<ol>
				<li ng-repeat="cause in problemContr.causes"><b>{{cause.description}};
				</b><br>{{cause.remarks}}<br>
				<i ng-show="cause.userName">dodał: {{cause.userName}}</i> <span
					ng-show="problemContr.userName==cause.userName && authenticated"><br>
						<a href="" class="" ng-click="problemContr.deleteCause(cause.id, cause.problemId)">Usuń
							wpis</a> </span></li>
			</ol>
			<p class="add" ng-click="problemContr.showAddCauseForm()"
				ng-show="authenticated">Dodaj przyczynę do wybranego problemu
				({{problemContr.details.name}})</p>
			<div ng-show="problemContr.showCauseForm">
				<form ng-show="authenticated">
					<label for="opis_p">Podaj opis przyczyny:</label><br>
					<textarea id="opis_p" ng-model="problemContr.cause.description"
						rows="3" cols="30" maxlength="250" required></textarea>
					<br>
					<button class="add_button"
						ng-click="problemContr.addCause(problemContr.cause)">Dodaj
						przyczynę</button>
				</form>
			</div>
			<div ng-show="!authenticated">
				<h3>
					<i>Zaloguj się aby dodać nowy wpis</i>
				</h3>
			</div>
		</div>
		<div class="detal">
			<h2>Rozwiązania</h2>
			<ol>
				<li ng-repeat="solution in problemContr.solutions"><b>{{solution.description}};
				</b><br>{{solution.remarks}} <br>
				<i ng-show="solution.userName">dodał: {{solution.userName}}</i> <span
					ng-show="problemContr.userName==solution.userName && authenticated"><br>
						<a href="" class=""
						ng-click="problemContr.deleteSolution(solution.id, solution.problemId)">Usuń wpis</a>
				</span></li>
			</ol>
			<p class="add" ng-click="problemContr.showAddSolutionForm()"
				ng-show="authenticated">Dodaj rozwiązanie do wybranego problemu
				({{problemContr.details.name}})</p>
			<div ng-show="problemContr.showSolutionForm">
				<form ng-show="authenticated">
					<label for="opis_r">Podaj opis rozwiązania:</label><br>
					<textarea id="opis_r" ng-model="problemContr.solution.description"
						rows="3" cols="30" maxlength="250" required></textarea>
					<br> <label for="uwagi">Uwagi:</label><br>
					<textarea id="uwagi" ng-model="problemContr.solution.remarks"
						rows="2" cols="30" maxlength="200"></textarea>
					<br> <label for="proprytet">Określ wagę/priorytet
						rozwiązania:</label><br> <select type="number" id="priorytet"
						class="selectp" ng-model="problemContr.solution.priority"
						placeholder="Priorytet">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select><br>
					<button class="add_button"
						ng-click="problemContr.addSolution(problemContr.solution)">Dodaj
						rozwiązanie</button>
				</form>
			</div>
			<div ng-show="!authenticated">
				<h3>
					<i>Zaloguj się aby dodać nowy wpis</i>
				</h3>
			</div>
		</div>
	</div>
</div>
