<meta charset="UTF-8"></meta>
<div class="main">
	<div class="table">
		<h1>Rejestracja</h1>
		<h3>{{regCtrl.errorMessage}}</h3>
		<div class="register">
			<form>
				<input type="text" ng-model="regCtrl.name" required="required"
					placeholder="login, np. inicjały"><br> <input type="password"
					ng-model="regCtrl.password" required="required"
					placeholder="hasło"><br>
				<button class="register_button" ng-click="regCtrl.register()">ZAREJESTRUJ
					SIĘ</button>
			</form>
		</div>
	</div>
</div>

